<div class="card card-device" [ngClass]="{'unactive': !isActive }">
    <div class="card-main-wrapper">

        <swiper  [swiper]="config"  >
   
              <div class="swiper-slide">
                  <ui-device-card-slide-show 
                  [device]="device" 
                  [animal]="animal" 
                  [experiment]="experiment">
                </ui-device-card-slide-show>
              </div>
            
              <!--               
                <div class="swiper-slide">
                <ui-device-card-slide-edit
                  [device]="device" 
                  [animal]="animal" 
                  [experiment]="experiment">
              </ui-device-card-slide-edit>
              </div>
      </div>
            -->
              <div class="swiper-slide">
                <ui-device-card-slide-details
                  [device]="device" 
                  [animal]="animal" 
                  [experiment]="experiment"
                ></ui-device-card-slide-details>
            </div>
          

        </swiper>

    </div>
</div>
