<div class="card card-device" [ngClass]="{'unactive': !isActive }">
    <div class="card-main-wrapper">

        <div  class="swiper-container" [swiper]="config" [(index)]="index">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                Swiper slide content 1 
              </div>

              <div class="swiper-slide">
                Swiper slide content2 
              </div>

              <div class="swiper-slide">
                Swiper slide content 3
              </div>

            </div>
           
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
           
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

    </div>
</div>